<div class="container">
  <app-header />
  <div class="app-grid d-grid">
    <div class="left-grid">
      <app-hex-generator />
    </div>
    <div class="right-grid d-flex flex-column">
      @if (gameStatus$ === 'started') {
      <h3 class="right-grid-title">Guess the hex code!</h3>
      <app-input
        class="mt-4"
        [size]="'large'"
        [maxLength]="6"
        [input]="inputCode"
        (inputChange)="onInputChange($event)"
        [iconName]="'simpleSharp'"
      ></app-input>
      <app-comparison [userString]="generatedHexCode" class="mt-4" />
      } @else if (gameStatus$ === 'finished') {
      <app-result-stats
        [attemptsCount]="attemptsCount$"
        [hexString]="hexCode$"
      />
      }
    </div>
  </div>
</div>
