// WHITE PRIMARY PALETTE
$light-background: #ffffff;
$light-secondary: #b8b8b8;
$light-emperor: #4f4f4f;
$light-bolder: #7a7a7a;
$light-text: #1f1f1f;
$light-text-green: #7d8e43;
$light-text-red: #ff5c5c;
$light-text-yellow: #f7ce3b;
