$base-px: 16;

// FONTS
$fs-8: 8px;
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;

// FONT WEIGHTS
$fw-400: 400;
$fs-500: 500;
$fw-600: 600;
$fs-700: 700;

// MEDIA VARIABLES
$media-width-sm: 640px;
$media-width-md: 768px;
$media-width-lg: 1024px;
$media-width-xl: 1280px;
$media-width-2xl: 1536px;
