@import "functions";
@import "colors";

.comparison-wrapper {
  font-size: $fs-24;

  .right {
    background-color: $light-text-green;
  }

  .semi-right {
    background-color: $light-text-yellow;
  }

  .wrong {
    background-color: $light-text-red;
  }
}
